* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    background-image: url(images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
}

.container {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height: 557px;
    width: 370px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 20px hsl(225, 100%, 90%);
}

.card h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
}

.card p, a {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.image {
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}

.content {
    position: relative;
    bottom: 15px;
    text-align: center;
    padding: 0 43px;
    color: grey;
}

.payment{
    display: flex;
    align-items: center;
    min-width: 295px;
    padding: 15px 20px;
    border-radius: 15px;
    position: relative;
    bottom: 10px;
    background-color: hsl(225, 100%, 98%);
}

.subscription {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10px;
}

.subscription h3 {
    font-size: 15px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    margin: 1px;
}

.ammount {
    font-size: 15px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    color: grey;
    margin: 1px;
}

.payment a {
    position: relative;
    left: 61px;
    font-weight: 900;
    color: hsl(245, 75%, 52%);
    /* align-self: flex-end; */
}

button {
    position: relative;
    top: 15px;
    min-width: 295px;
    min-height: 43px;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    color: white;
}

.cancel-button {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 900;
}